= render 'shared/header'
.credit-wrapper.clearfix
  .back-ground-gray
    .credit-edit-content
      %h2.credit-edit-content__head クレジットカード情報入力
      = form_tag(pay_credit_card_index_path, method: :post, id: 'charge-form', name: "inputForm", class: :'credit-edit-content__form') do
        %label.credit-edit-content__form__middle__card-form__label  カード番号
        %span.credit-edit-content__form__middle__card-form__require 必須
        =text_field_tag "number", "",placeholder: "半角英数字のみ", maxlength: "16", type: "text", id: "card_number", class: :'credit-edit-content__form__middle__card-form'
        %ul.credit-edit-content__form__middle__card-form__image
          %li.credit-edit-content__form__middle__card-form__image__visa
            = image_tag "/assets/visa.svg"
          %li.credit-edit-content__form__middle__card-form__image__mastercard
            = image_tag "/assets/master-card.svg"
          %li.credit-edit-content__form__middle__card-form__image__saison
            = image_tag "/assets/saison-card.svg"
          %li.credit-edit-content__form__middle__card-form__image__jcb
            = image_tag "/assets/jcb.svg"
          %li.credit-edit-content__form__middle__card-form__image__americanexpress
            = image_tag "/assets/american_express.svg"
          %li.credit-edit-content__form__middle__card-form__image__dinersclub
            = image_tag "/assets/dinersclub.svg"
          %li.credit-edit-content__form__middle__card-form__image__discover
            = image_tag "/assets/discover.svg"

        .credit-edit-content__form__expire
          .credit-edit-content__form__expire-wrapp
            %label.credit-edit-content__form__expire__head 有効期限
            %span.credit-edit-content__form__expire__require 必須
          %select#exp_month{name: "exp_month", type: "text", class: :'credi-edit-content__form__expire__month-box'}
            %option{value: ""} --
            %option{value: "1"}01
            %option{value: "2"}02
            %option{value: "3"}03
            %option{value: "4"}04
            %option{value: "5"}05
            %option{value: "6"}06
            %option{value: "7"}07
            %option{value: "8"}08
            %option{value: "9"}09
            %option{value: "10"}10
            %option{value: "11"}11
            %option{value: "12"}12
          = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
          %span 月
          %select#exp_year{name: "exp_year", type: "text", class: :'credit-edit-content__form__expire__year-box'}
            %option{value: ""} --
            %option{value: "2019"}19
            %option{value: "2020"}20
            %option{value: "2021"}21
            %option{value: "2022"}22
            %option{value: "2023"}23
            %option{value: "2024"}24
            %option{value: "2025"}25
            %option{value: "2026"}26
            %option{value: "2027"}27
            %option{value: "2028"}28
            %option{value: "2029"}29
          = fa_icon("chevron-down credit-edit-content__form__expire__year-box__image")  
          %span 年
          %br
          .credit-edit-content__form__security
            %label.credit-edit-content__form__security__head セキュリティコード
            %span.credit-edit-content__form__security__require 必須
            = text_field_tag "cvc", "",class: :"cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
            .credit-edit-content__form__security__question
              .credit-edit-content__form__security__question__text
                = fa_icon("question-circle credit-edit-content__form__security__question__text__icon")
                カード番号とは?
              .credit-edit-content__form__security__question__info 
                カード裏面をご覧ください
                = image_tag "/assets/sequrity_code_info.png"

          #card_token
          = submit_tag "追加する", id: "token_submit", class: :'credit-edit-content__form__submit'

    = render 'shared/sidebar'

= render 'shared/footer'
