= render "shared/header"

.profile2
  .bread
    .bread__inner
      - breadcrumb :profile
      = breadcrumbs separator: "#{content_tag(:i, '', :class=>'fas fa-chevron-right')}"
  .profile2__gray
    .profile2__gray__left-sidebar
      = render 'shared/sidebar'
    .profile2__gray__contents
      %h2.profile2__gray__contents__title プロフィール
      = form_with model: @user, local: true do |f|
        .profile2__gray__contents__background
          = image_tag 'face-icon.png',size: "60x60",class: "profile2__gray__contents__background__image"
          = f.text_field :nickname, class: "profile2__gray__contents__background__input", value: "#{current_user.nickname}"
        .profile2__gray__contents__introduction
          = f.text_area :profile, class: "profile2__gray__contents__introduction__textarea", value: "#{current_user.profile}", priceholder: "ユーザーの自己紹介"
          = f.submit class: "profile2__gray__contents__introduction__btn", value: "変更する"

= render "shared/footer"
