= render "shared/header"
.bread
  .bread__inner
    - breadcrumb :userpage
    = breadcrumbs separator: "#{content_tag(:i, '', :class=>'fas fa-chevron-right')}"

.profile
  .profile__gray
    .profile__gray__contents
      %h2.profile__gray__contents__title プロフィール
      .profile__gray__contents__show-background
        =image_tag 'face-icon.png',size: "60x60",class: "profile__gray__contents__background__show-image"
        .profile__gray__contents__background__show #{current_user.nickname}
      .profile__gray__contents__introduction
        .profile__gray__contents__introduction__textarea #{current_user.profile}

= render "shared/footer"
