.main-header
  .main-header__inner
    .main-header__inner__top
      %h1
        = link_to root_path do
          = image_tag 'mercari_logo_horizontal.png', alt: 'mercari', class: 'input-dfault'
      %form.main-header__inner__top__form{action: '#'} 
        %input.input-holder{type: 'search', name: 'keyword', placeholder: '何かお探しですか？'}
        %i.fas.fa-search.icon-search
          -# トップヘッダーGNAV
    .main-gnav
      .main-gnav__left
        %ul.main-gnav__left__category
        %ul#menu-content
          %li.first-content
            = link_to 'https://www.mercari.com/jp/category/', {class: 'main-gnav__left__category__root'} do
              %i.fas.fa-list-ul
              %span カテゴリーから探す
            %ul.second-content
              %li 
                = link_to 'カテゴリ2-1',''
                %ul.third-content
                  %li 
                    = link_to 'カテゴリ2-1-1',''
                    %ul.fourth-content
                      %li
                        = link_to 'カテゴリ2-1-1',''
                        %li
                          = link_to 'カテゴリ2-1-1',''
                        %li 
                          = link_to 'カテゴリ2-1-1',''
                        %li
                          = link_to 'カテゴリ2-1-2',''
                        %li
                          = link_to 'カテゴリ2-1-3',''
                  %li
                    = link_to 'カテゴリ2-1-2',''
                  %li
                    = link_to 'カテゴリ2-1-3',''
              %li
                = link_to 'カテゴリ2-2',''
                %ul.third-content
                  %li
                    = link_to 'カテゴリ2-2-1',''
                  %li
                    = link_to 'カテゴリ2-2-2',''
                  %li
                    = link_to 'カテゴリ2-2-3',''
              %li
                = link_to 'カテゴリ2-3',''
                %ul.third-content
                  %li
                    = link_to 'カテゴリ2-3-1',''
                  %li
                    = link_to 'カテゴリ2-3-2',''
                  %li
                    = link_to 'カテゴリ2-3-3',''
            %li
            //テーブルおよびレコード未作成のため仮置きで作成。下記のように抽出できると考えている
            -# %ul.category
            -#   %li.category__list
            -#     = link_to "カテゴリーから探す",(uri記述)
            -#     %ul.category__first
            -#       - @categorys.each do |任意の名前1|
            -#         %li.category__list__first
            -#           = link_to "#{任意の名前1.name}",category_path(引数に　任意の名前1をかく)
            -#           %ul.category__second
            -#             - Category.where(parent_id: 任意の名前1.id).each do |任意の名前2|
            -#               %li.category__list__second
            -#                 = link_to "#{任意の名前2.name}",category_path(引数　任意の名前2)
            -#                 %ul.category__third
            -#                   - Category.where(parent_id: 任意の名前2.id).each do |任意の名前3|
            -#                     %li.category__list__third
            -#                       = link_to "#{任意の名前3.name}",category_path(任意の名前3)
        %li
          %h2
            = link_to 'https://www.mercari.com/jp/brand/', {class: 'main-gnav__left__category__root'} do
              %i.fa.fa-tag
              %span ブランドから探す
            %ul.main-gnav__left__category__root__wrap

      .main-gnav__right
        %ul.main-gnav__right__user
          %li{key: 'notice', url: '#'}
            = link_to 'https://www.mercari.com/jp/mypage/notification/', {class: 'main-gnav__right__user__menu'} do
              %i.far.fa-bell
              %span お知らせ
          %li{key: 'todo', url: '#'}
            = link_to 'https://www.mercari.com/jp/mypage/todo/',{class: 'main-gnav__right__user__menu'} do
              %i.fas.fa-check
              %span やることリスト
          %li
            = link_to "/users/#{current_user.id}", {class: 'main-gnav__right__user__menu'} do
              %figure
                %div
                  = image_tag 'face-icon.png', alt: 'face-icon', class: 'face-icon'
              %span マイページ
          %li
            = link_to '新規会員登録', '/users/index', {class: 'header-signup'}
          %li
            = link_to 'ログアウト', '/users/destroy'
          %li
            - if user_signed_in?
              = current_user.nickname
            -else 
              = 'ゲストユーザー'