.main-header
  .main-header__inner
    .main-header__inner__top
      %h1
        = link_to root_path do
          = image_tag 'mercari_logo_horizontal.png', alt: 'mercari', class: 'input-dfault'
      %form.main-header__inner__top__form{action: '#'} 
        %input.input-holder{type: 'search', name: 'keyword', placeholder: '何かお探しですか？'}
        %i.fas.fa-search.icon-search
          -# トップヘッダーGNAV
    .main-gnav
      .main-gnav__left
        %ul.main-gnav__left__category
        %ul#menu-content
          %li.first-content
            = link_to 'https://www.mercari.com/jp/category/', {class: 'main-gnav__left__category__root'} do
              %i.fas.fa-list-ul
              %span カテゴリーから探す
              %ul.second-content
                - @categorys.each do |category1|
                  %li
                    = link_to "#{category1.name}",''
                    %ul.third-content
                      - Category.where(parent_id: category1.id).each do |category2|
                        %li 
                          = link_to "#{category2.name}",''
                          %ul.fourth-content
                            - Category.where(parent_id: category2.id).each do |category3|
                              %li
                                = link_to "#{category3.name}",''
          %ul#menu-content
            %li.first-content
              = link_to new_item_path do
                %i.fa.fa-tag 
                ブランドから探す
                %ul.second-content
                  - @brands.each do |brand|
                    %li
                      = link_to "#{brand.name}",''

      .main-gnav__right
        %ul.main-gnav__right__user
          - if user_signed_in?
            %li{key: 'notice', url: '#'}
              = link_to 'https://www.mercari.com/jp/mypage/notification/', {class: 'main-gnav__right__user__menu'} do
                %i.far.fa-bell
                %span お知らせ
            %li{key: 'todo', url: '#'}
              = link_to 'https://www.mercari.com/jp/mypage/todo/',{class: 'main-gnav__right__user__menu'} do
                %i.fas.fa-check
                %span やることリスト
            %li
              = link_to user_path(current_user.id), {class: 'main-gnav__right__user__menu'} do
                %figure
                  %div
                    = image_tag 'face-icon.png', alt: 'face-icon', class: 'face-icon'
                %span マイページ
            %li
              = link_to 'ログアウト', users_destroy_path, notice: 'ログアウトしました'
          - else
            %li
              = link_to 'ログイン', new_user_session_path, {class: 'header-login'}
            %li
              = link_to '新規会員登録', users_index_path, {class: 'header-signup'}
