.main-box-content.clearfix
  %section.item-content
    = link_to 'https://item.mercari.com/jp/m27278690533/', {class: 'item-content__photo'} do
      %figure.item-content__photo
        -# = image_tag 'https://static.mercdn.net/thumb/photos/m27278690533_1.jpg?1555391521'
        = image_tag ""
      .item-content-body
        %h3.item-content-body__name #{@items[0].name}
        .item-content-body__num
          .item-content-body__num__price ¥ #{@items[0].price}
          .item-content-body__num__icon
            %i.far.fa-heart
            %span 2
        %p.item-content-body__num__tax （税込）

  %section.item-content
    = link_to 'https://item.mercari.com/jp/m27278690533/' do
      %figure.item-content__photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m27278690533_1.jpg?1555391521'
      .item-content-body
        %h3.item-content-body__name #{@items[1].name}
        .item-content-body__num
          .item-content-body__num__price ¥ #{@items[1].price}
          .item-content-body__num__icon
            %i.far.fa-heart
            %span 2
        %p.item-content-body__num__tax （税込）

  %section.item-content
    = link_to 'https://item.mercari.com/jp/m27278690533/' do
      %figure.item-content__photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m27278690533_1.jpg?1555391521'
      .item-content-body
        %h3.item-content-body__name #{@items[2].name}
        .item-content-body__num
          .item-content-body__num__price ¥ #{@items[2].price}
          .item-content-body__num__icon
            %i.far.fa-heart
            %span 2
        %p.item-content-body__num__tax （税込）

  %section.item-content
    = link_to 'https://item.mercari.com/jp/m27278690533/' do
      %figure.item-content__photo
        = image_tag 'https://static.mercdn.net/thumb/photos/m27278690533_1.jpg?1555391521'
      .item-content-body
        %h3.item-content-body__name #{@items[3].name}
        .item-content-body__num
          .item-content-body__num__price ¥ #{@items[3].price}
          .item-content-body__num__icon
            %i.far.fa-heart
            %span 2
        %p.item-content-body__num__tax （税込）
.main-all
  = link_to'すべての商品をみる', 'https://www.mercari.com/jp/category/1/'