- @items.each do |item|
  .show_item__right__tab1__inner
    .show_item__right__tab1__inner__image
      %p8= image_tag "#{item.image}", width: "60", height: "60"

    .show_item__right__tab1__inner__product

      %p8= item.name
      .show_item__right__tab1__inner__product__btn
        = link_to '削除',"/items/#{item.id}", method: :delete


    

      = link_to "#{item.name}", edit_item_path(item.id)

