= form_with(model: @item, local: true) do |f|
  .new
    .new__exhibition
      .new__exhibition__header
        %h1 
          = link_to root_path, target: "_self" do
            = image_tag "mercari_logo_horizontal.png", size: "250x70"
      .new__exhibition__main
        %h2 商品の情報を編集
        .new__exhibition__main__contents
          .new__exhibition__main__contents__image
            %label 出品画像
            %span 必須
            %p 最大10枚までアップロードできます 
            .new__exhibition__main__contents__image__up
              = f.file_field :image, class: "new__exhibition__main__contents__image__up__area", placeholder: "ドラッグアンドドロップまたはクリックしてファイルをアップロード"

          .new__exhibition__main__contents__name
            .new__exhibition__main__contents__name__input
              %label 商品名
              %span 必須
              = f.text_field "name", class: "new__exhibition__main__contents__name__input__box", placeholder: "商品名（必須40文字まで）", value: "#{@item.name}"
            .new__exhibition__main__contents__name__text
              %label 商品の説明
              %span 必須
              = f.text_area "detail", class:"new__exhibition__main__contents__name__text__box2", rows:"5", placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", value: "#{@item.detail}"
          .new__exhibition__main__contents__info
            %h3.new__exhibition__main__contents__info__word  商品の詳細
            .new__exhibition__main__contents__info__inputbox2
              .new__exhibition__main__contents__info__inputbox2__category
                %label カテゴリー
                %span 必須
              .new__exhibition__main__contents__info__inputbox2__select
                = f.collection_select :category_id, Category.where(parent_id:nil), :id, :name,{include_blank: "---"},{class: "new__exhibition__main__contents__info__inputbox2__select__box1",required:true}
                = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
                
              .new__exhibition__main__contents__info__inputbox2__state
                %label サイズ
                %span.not-require 任意
              .new__exhibition__main__contents__info__inputbox2__select
                = f.select "size", ["XXS以下", "XS(SS)", "S", "M", "L", "XL(LL)", "XXL以上"], class: ".new__exhibition__main__contents__info__inputbox2__select__box2", include_blank: "---"
                = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
            
              .new__exhibition__main__contents__info__inputbox2__state
                %label ブランド
                %span.not-require 任意
              .new__exhibition__main__contents__info__inputbox2__select
                = f.text_field "brand_id", class: ".new__exhibition__main__contents__info__inputbox2__select__box2 brand-text", placeholder: "例)ナイキ"

              .new__exhibition__main__contents__info__inputbox2__state
                %label 商品の状態
                %span 必須
              .new__exhibition__main__contents__info__inputbox2__select
                = f.select "condition", ["新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"], class: ".new__exhibition__main__contents__info__inputbox2__select__box2", include_blank: "---"
                = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")

          .new__exhibition__main__contents__delivery
            %h3.new__exhibition__main__contents__delivery__word  配送について
              
            .new__exhibition__main__contents__delivery__inputbox3
              .new__exhibition__main__contents__delivery__inputbox3__fee
                %label 配送料の負担
                %span 必須
              .new__exhibition__main__contents__delivery__inputbox3__select
                = f.select "delivery_fee", ["送料込み（出品者負担）","着払い（購入者負担）"], class: ".new__exhibition__main__contents__info__inputbox2__select__box3", include_blank: "---"
                = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
            
              .new__exhibition__main__contents__delivery__inputbox3__region
                %label 発売元の地域
                %span 必須
              .new__exhibition__main__contents__delivery__inputbox3__select
                = f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: "---", class:"form", class: ".new__exhibition__main__contents__info___inputbox3__select__box4"
                = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
              .new__exhibition__main__contents__delivery__inputbox3__date
                %label 発送までの日数
                %span 必須
              .new__exhibition__main__contents__delivery__inputbox3__select
                = f.select "shipment_day", ["1~2日で発送","2~3日で発送","4~7日で発送"], class: ".new__exhibition__main__contents__info__inputbox3__select__box5", include_blank: "---"
                = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
            
          .new__exhibition__main__contents__price
            %h3.new__exhibition__main__contents__price__word  販売価格(300~9,999,999)
              
            .new__exhibition__main__contents__price__inputbox4
              .aaaa
                %label 価格
                %span 必須
              .new__exhibition__main__contents__price__inputbox4__num
                = f.text_field "price", class: " .new__exhibition__main__contents__price__inputbox4__num__price",placeholder:"例)300  "
              .new__exhibition__main__contents__price__inputbox4__10
                販売手数料(10%)
              .new__exhibition__main__contents__price__inputbox4__profit
                販売利益
          .new__exhibition__main__contents__under-contents
            .new__exhibition__main__contents__under-contents__text
              %p 禁止されている出品行為を必ずご確認ください
              %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
              %p また、出品を持ちまして加盟店規約に同意したことになります。
            .new__exhibition__main__contents__under-contents__btns
              = f.submit class: "new__exhibition__main__contents__under-contents__btns__btn1", value: "編集する"
              = link_to "もどる", root_path, class: "new__exhibition__main__contents__under-contents__btns__btn2"
    .new__footer
      .new__footer__nav
        %p プライバリシーポリシー
        %p メルカリ利用規約
        %p 特定商取引に関する表記
      %mercari-icon
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2313329815", alt: "mercari", width: 80, height: 65
      %p.new__footer__2019 © 2019 Mercari
