= render 'shared/header'
.product-wrapper
  %section.main-product-box
    %h1.main-product-box__name #{@item.name}
    .main-product-box__name__clearfix
      #wrap.main-product-box__name__clearfix__photo
        %ul#slider
          %li.slide-item
            = image_tag @item.image.url
          %li.slide-item
            = image_tag "https://upload.wikimedia.org/wikipedia/ja/b/b5/Noimage_image.png"
          %li.slide-item
            = image_tag "https://c-lj.gnst.jp/public/img/common/noimage.jpg?20181011050048"
          %li.slide-item
            = image_tag "https://www.freeiconspng.com/uploads/no-image-icon-21.png"
        %ul#thumbnail-list
          %li.thumbnail-item
            = image_tag @item.image.url
          %li.thumbnail-item
            = image_tag "https://upload.wikimedia.org/wikipedia/ja/b/b5/Noimage_image.png"
          %li.thumbnail-item
            = image_tag "https://c-lj.gnst.jp/public/img/common/noimage.jpg?20181011050048"
          %li.thumbnail-item
            = image_tag "https://www.freeiconspng.com/uploads/no-image-icon-21.png"

      %table.product-detail-space
        %tbody
          %tr
            %th出品者
            %td
              =link_to '保留さん', ''
              .product-user-ratings
                %i.fas.fa-smile
                %span 0
              .product-user-ratings
                %i.fas.fa-meh
                %span 0
              .product-user-ratings
                %i.fas.fa-frown
                %span 0
          %tr
            %thカテゴリー
            %td
              =link_to "#{@item.category}", ''
                
              =link_to '' do
                .product-detail-space__second-category
                  %i.fas.fa-chevron-right
                  #{@item.category}
              =link_to '' do
                .product-detail-space__third-category
                  %i.fas.fa-chevron-right
                  #{@item.category}
          %tr
            %thブランド
            %td
              =link_to '---', ''
                
          %tr
            %th商品のサイズ
            %td
              サイズ保留
          %tr
            %th商品の状態
            %td
              #{@item.condition}
          %tr
            %th配送料の負担
            %td
              #{@item.delivery_fee}
          %tr
            %th配送の方法
            %td
              未定
          %tr
            %th配送元地域
            %td
              =link_to "#{@item.prefecture.name}", ''
                
          %tr
            %th発送日の目安
            %td
              #{@item.shipment_day}
    .product-price-box
      %span.product-price-box__bold ¥#{@item.price}
      %span.product-price-box__bold__tax (税込)
      %span.product-price-box__bold__tax__delivery-fee
      - if @item.delivery_fee == '着払い（購入者負担）'
        = "送料別途"
      - else
        = "送料込み"
    %a.product-price-box__buy-btn.f18-24{"data-client": "hidden", href: ""}購入画面に進む
    .product-outline.f14
      %p.product-outline__inner
        = @item.detail

    .product-button__box.clearfix
      .product-button__box__left
        %button.product-button.product-button__box__left__like{"data-ga": "element","data-ga-category": "LIKE","data-ga-label": "like!","data-id": "m83895112625","data-toggle": "like", name: "like", type: "button"}
          %i.far.fa-heart
            %span  いいね!

        %a.product-button.product-button__box__report.clearfix{"data-modal": "report-product","data-open": "modal", href: ""}
          %i.far.fa-flag
            %span 不適切な商品の報告

      .product-button__box__right
        %a{href: "/", target: "_blank"}
          %i.fas.fa-lock
            %span あんしん・あんぜんへの取り組み

    .detail-wrapper

    .product-detail__comment
      .product-detail__comment__box
        .product-detail__comment_box__content
          %form.product-detail__comment__box__content__form{action: "",method: "POST"}
            .product-detail__comment__box__content__form__text 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea.product-detail__comment__box__form__text{name: "body",type: "text",value: ""}
            %button.product-detail__comment__box__form__text__submit.gray-btn{type: "submit"}
              %span コメントする

    %ul.product-link__prev-next.clearfix
      %li.product-link__prev-next__prev
        = link_to "" do
          %i.fas.fa-chevron-left
      %li.product-link__prev-next__next
        = link_to "" do
          %i.fas.fa-chevron-right
      .product-sns__media
        %ul.product-sns__media__sns-media
          %li
            %a.sns-media__share-btn{"data-window-name": "facebook_window", href: "", target: "_blank"}
              = image_tag 'facebook.png', size: '40x40', alt: 'facebook'
          %li
            %a.sns-media__share-btn{"data-window-name": "twitter_window", href: "", target: "_blank"}
              = image_tag 'twitter.png', size: '40x40', alt: 'facebook'
          %li
            %a.sns-media__share-btn{"data-window-name": "pinterest_window", href: "", targert: "_blank"}
              = image_tag 'pinterest.png', size: '40x40', alt: 'facebook'

= render 'shared/footer'