.new
  .new__exhibition
    .new__exhibition__header
      %h1 
        =image_tag "mercari_logo_horizontal.png",size: "250x70"
    .new__exhibition__main
      %h2 商品の情報を入力
      .new__exhibition__main__contents
        .new__exhibition__main__contents__image
          %label 出品画像
          %span 必須
          %p 最大10枚までアップロードできます 
          .new__exhibition__main__contents__image__up
            %input{ type: "file", name: "", class: ".new__exhibition__main__contents__image__up__area",placeholder: "ドラッグアンドドロップまたはクリックしてファイルをアップロード"}

        .new__exhibition__main__contents__name
          .new__exhibition__main__contents__name__input
            %label 商品名
            %span 必須
            %input{ type: "text", name: "", class: "new__exhibition__main__contents__name__input__box",placeholder: "商品名（必須40文字まで）"}
          .new__exhibition__main__contents__name__text
            %label 商品の説明
            %span 必須
            %textarea{ type: "text", class:"new__exhibition__main__contents__name__text__box2", rows:"5", placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
        .new__exhibition__main__contents__info
          %h3.new__exhibition__main__contents__info__word  商品の詳細
            
          .new__exhibition__main__contents__info__inputbox2
            .new__exhibition__main__contents__info__inputbox2__category
              %label カテゴリー
              %span 必須
            .new__exhibition__main__contents__info__inputbox2__select
              = select_tag "category", options_for_select(["レディース","メンズ","ベビー・キッズ","インテリア・住まい・小物","本・音楽・ゲーム","おもちゃ・ホビー・グッズ","コスメ・香水・美容","家電・スマホ・カメラ","スポーツ・レジャー","ハンドメイド","チケット","自動車・オートバイ","その他"]) ,class: ".new__exhibition__main__contents__info__inputbox2__select__box1"
              = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
              
            .new__exhibition__main__contents__info__inputbox2__state
              %label 商品の状態
              %span 必須
            .new__exhibition__main__contents__info__inputbox2__select

              = select_tag "category", options_for_select(["新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"]),  class: ".new__exhibition__main__contents__info__inputbox2__select__box2"
              = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
          
        .new__exhibition__main__contents__delivery
          %h3.new__exhibition__main__contents__delivery__word  配送について
            
          .new__exhibition__main__contents__delivery__inputbox3
            .new__exhibition__main__contents__delivery__inputbox3__fee
              %label 配送料の負担
              %span 必須
            .new__exhibition__main__contents__delivery__inputbox3__select

              = select_tag "category", options_for_select(["送料込み（出品者負担）","着払い（購入者負担）"]),  class: ".new__exhibition__main__contents__info__inputbox2__select__box3"
              = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
          
            .new__exhibition__main__contents__delivery__inputbox3__region
              %label 発売元の地域
              %span 必須
            .new__exhibition__main__contents__delivery__inputbox3__select
              = select_tag "category", options_for_select(["北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県","茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県","新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県","静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県","奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県","徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県","熊本県","大分県","宮崎県","鹿児島県","沖縄県"]),  class: ".new__exhibition__main__contents__info___inputbox3__select__box4"
              = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
            .new__exhibition__main__contents__delivery__inputbox3__date
              %label 発売までの日数
              %span 必須
            .new__exhibition__main__contents__delivery__inputbox3__select
              = select_tag "category", options_for_select(["1~2日で発送","2~3日で発送","4~7日で発送"]),  class: ".new__exhibition__main__contents__info__inputbox3__select__box5"
              = fa_icon("chevron-down credit-edit-content__form__expire__month-box__image")
          
        .new__exhibition__main__contents__price
          %h3.new__exhibition__main__contents__price__word  販売価格(300~9,999,999)
            
          .new__exhibition__main__contents__price__inputbox4
            .aaaa
              %label 価格
              %span 必須
            .new__exhibition__main__contents__price__inputbox4__num
              %input{ type:"price", name: "", class: " .new__exhibition__main__contents__price__inputbox4__num__price",placeholder:"例)300"}
            .new__exhibition__main__contents__price__inputbox4__10
              販売手数料(10%)
            .new__exhibition__main__contents__price__inputbox4__profit
              販売利益
        .new__exhibition__main__contents__under-contents
          .new__exhibition__main__contents__under-contents__text
            %p 禁止されている出品行為を必ずご確認ください
            %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
            %p また、出品を持ちまして加盟店規約に同意したことになります。
          .new__exhibition__main__contents__under-contents__btns
            %button.new__exhibition__main__contents__under-contents__btns__btn1 出品する
            %button.new__exhibition__main__contents__under-contents__btns__btn2 もどる 
  .new__footer
    .new__footer__nav
      %p プライバリシーポリシー
      %p メルカリ利用規約
      %p 特定商取引に関する表記
    %mercari-icon
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2313329815", alt: "mercari", width: 80, height: 65
    %p.new__footer__2019 © 2019 Mercari