.devise-wrapper
  .devise-container
    .devise-container__header
      =link_to 'https://www.mercari.com/jp/' do
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?570108281', class:'devise-container__header__logo'
      
    .sign-up-main
      .sign-up-main__upper
        .sign-up-main__upper__text
          %h2 新規会員登録

        .sign-up-center
          .sign-up-center__content
            .sign-up-center__content__btn
              .sign-up-center__content__btn--mail
                = fa_icon 'envelope', class: 'icon' 
                メールアドレスで登録
              .sign-up-center__content__btn--facebook
                = image_tag 'flogo-HexRBG-Wht-58.png', class: 'icon',size: "20x20"
                Facebookで登録 
              .sign-up-center__content__btn--google
                = image_tag 'google-logo-web.png', class: 'icon',size: "20x20"
                Googleで登録

    .devise-footer
      %nav
        %ul.devise-footer__box
          %li
            =link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
          %li
            =link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
          %li
            =link_to'特定商取引に関する表記','https://www.mercari.com/jp/tokutei/'
      .devise-footer__logo
        =link_to'https://www.mercari.com/jp/' do
          = image_tag'//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?570108281', style:'width:80px;', style:'height:65px;'
      %p.devise-footer__text 
        %small &copy; 2019 Mercari
