.devise-wrapper
  .devise-container
    .devise-container__header
      =link_to 'https://www.mercari.com/jp/' do
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?570108281', class:'devise-container__header__logo'
    .sign-in-main
      .sign-in-main__upper
        .sign-in-main__upper__sign-up
          %pアカウントをお持ちでない方はこちら
          =link_to '新規会員登録','https://www.mercari.com/jp/signup/',id:'recommend-sign-up'
         
    .login-center
      .login-center__content
        .sign-up-center__content__btn
          .login-center__content__btn--facebook
            = image_tag 'flogo-HexRBG-Wht-58.png', class: 'icon',size: "20x20"
            Facebookで登録 
          .login-center__content__btn--google
            = image_tag 'google-logo-web.png', class: 'icon',size: "20x20"
            Googleで登録
        .form-member
          %input.form-member__input-text{type:'email', name:'email',value:'',placeholder:'メールアドレス'}
        .form-member
          %input.form-member__input-text{type:'password',name:'password',placeholder:'パスワード'}
          .form-member__input-text--captcha{data:{sitekey:''}}
            = image_tag '認証.png',size: "328x72", class:'robo'
          %input.form-member__input-text--red{type:'submit', type:'button', value:'ログイン'}
          =link_to 'パスワードをお忘れの方','https://www.mercari.com/jp/signup/',class:'forgot-password'

    .devise-footer
      %nav
        %ul.devise-footer__box
          %li
            =link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
          %li
            =link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
          %li
            =link_to'特定商取引に関する表記','https://www.mercari.com/jp/tokutei/'
      .devise-footer__logo
        =link_to'https://www.mercari.com/jp/' do
          = image_tag'//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?570108281', class:'bottom-logo'
      %p.devise-footer__text 
        %small &copy; 2019 Mercari
