.banner
  .banner__contents
    .banner__contents__inner
      %h2.banner__contents__inner__title スマホでかんたんフリマアプリ
      %p.banner__contents__inner__publicity 今すぐ無料ダウンロード!
      .banner__contents__inner__icons
        %figure.banner__contents__inner__icons__image
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1857733084", width: "68", height: "68"
        %ul.banner__contents__inner__icons__link
          %li.banner__contents__inner__icons__link__app
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1857733084"
          %li.banner__contents__inner__icons__link__google
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1857733084"
    .banner__contents__inner__image
      = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1857733084", width: "300", heigth: "260"

.footer
  .footer__main
    .footer__main__words
      %h2.footer__main__words__title メルカリについて
      %ul.footer__main__words__inner
        %li.footer__main__words__inner__lists 会社概要(運営会社)
        %li.footer__main__words__inner__lists 採用情報
        %li.footer__main__words__inner__lists プレリリース
        %li.footer__main__words__inner__lists 公式ブログ
        %li.footer__main__words__inner__lists メルカリロゴ利用ガイドライン
        %li.fab.fa-twitter.fa-2x 
        %li.fab.fa-facebook.fa-2x 

    .footer__main__words
      %h2.footer__main__words__title ヘルプ＆ガイド
      %ul.footer__main__words__inner
        %li.footer__main__words__inner__lists メルカリガイド
        %li.footer__main__words__inner__lists らくらくメルカリ便
        %li.footer__main__words__inner__lists ゆうゆうメルカリ便
        %li.footer__main__words__inner__lists 大型メルカリ便
        %li.footer__main__words__inner__lists 車体取引ガイド
        %li.footer__main__words__inner__lists メルカリあんしん・あんぜん宣言！
        %li.footer__main__words__inner__lists 偽ブランド品撲滅への取り組み
        %li.footer__main__words__inner__lists メルカリボックス

    .footer__main__words
      %h2.footer__main__words__longtitle プライバシーと利用規約
      %ul.footer__main__words__inner
        %li.footer__main__words__inner__lists プライバシーポリシー
        %li.footer__main__words__inner__lists メルカリ利用規約
        %li.footer__main__words__inner__lists あんしんスマホサポート制度に関する利用特約
        %li.footer__main__words__inner__lists コンプライアンスポリシー

    .footer__main__shortwords
      %ul.footer__main__shortwords__inner
        %li.footer__main__shortwords__inner__lists 個人データの安全管理にかかる基本方針
        %li.footer__main__shortwords__inner__lists 特定商取引に関する表記
        %li.footer__main__shortwords__inner__lists 資金決済法に基づく表示
        %li.footer__main__shortwords__inner__lists 法令遵守と犯罪抑止のために
        %li.footer__main__shortwords__inner__lists 返品・返金ポリシー

    .footer__main__rightwords
      %h2.footer__main__rightwords__title 国
      %ul.footer__main__rightwords__inner
        %li.footer__main__rightwords__inner__lists 日本
        %li.footer__main__rightwords__inner__lists United States

  .footer__bottom
    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?128691313", width: "124", heigth: "33", alt: "mercari"
    %p.footer__bottom__2019 © 2019 Mercari
