.devise-wrapper
  .devise-container
    .devise-container-info__header
      =link_to 'https://www.mercari.com/jp/' do
        = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?570108281', class:'devise-container__header__logo'

        
    %nav.progress
      %ul.progress--clearfix
        %li.done#red-2
          会員情報
          .progress-status-2#red-2
        %li.active#red-2
          電話番号認証
          .progress-status-2#red-2
        %li.address
          お届け先住所入力
          .progress-status-2
        %li.pay
          支払い方法
          .progress-status-2
        %li.finish
          完了
          .progress-status-2


    .member-info-main
      .member-info-main__top
        .member-info-main__top__text 電話番号の確認
    
      .member-info__center
        .member-info__center__content
          .member-info__center__content__form
          
          %h2.member-info__center__content__form__text 携帯電話の番号
          = form_with url: new_address_path, method: :get, local: true do |form|
            = form.telephone_field :phone_number, placeholder: :'携帯電話の番号を入力', class: :'member-info__center__content__form__input', maxlength: 14

            .member-info__center__content__form
              .member-info__center__content__form__simple  本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
              = form.submit 'SMSを送信する', class: :'member-info__center__content__form__send'
              .member-info__center__content__form__simple ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            
            .member-info__center__content__form__bottom-right
            = link_to '電話番号の確認が必要な理由',''
            = fa_icon("chevron-right member-info__center__content__form__arrow-right")



    .devise-footer
      %nav
        %ul.devise-footer__box
          %li
            =link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
          %li
            =link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
          %li
            =link_to'特定商取引に関する表記','https://www.mercari.com/jp/tokutei/'
      .devise-footer__logo
        =link_to'https://www.mercari.com/jp/' do
          = image_tag'//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?570108281', class:'bottom-logo'
      %p.devise-footer__text 
        %small &copy; 2019 Mercari

